body {
  font-family: Arial, sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 300px;
}

.credit-form {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 2rem;
}

/* ===== Card Front ===== */
.card-front {
  background-color: #e6e6e6;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  width: 100%;
  height: 180px;
  padding: 1rem 1.2rem;
  display: grid;
  align-content: start;
  gap: 0.5rem;
  position: relative;
  z-index: 3;
  transform: translateY(-30px); 
}

.total {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.card-image {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* Card fields */
label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 0.2rem;
}

input {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #999;
  border-radius: 4px;
}

.row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}

.exp-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.card-front input,
.card-back input {
  margin-bottom: 0.6rem; /* space between inputs */
}

/* ===== Card Back ===== */
.card-back {
  background-color: #dcdcdc;
  border-radius: 10px;
  width: 100%;
  height: 180px;
  padding: 1rem 1.2rem;
  position: absolute;
  top: 20px;              
  left: 80px;             
  z-index: 2;
}

.stripe {
  background: #333;
  height: 35px;
  border-radius: 4px;
  margin-bottom: 1rem;
}


.cvv-box {
  position: absolute;
  right: 25px;       
  top: 95px;         
  width: 70px;      
  text-align: center;
}

.cvv-box label {
  display: block;
  font-size: 0.8rem;
  color: #000;
  margin-bottom: 0.2rem;
}

.cvv-box input {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #888;
  border-radius: 4px;
  text-align: center;
}

/* ===== Button ===== */
button {
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 240px; 
}

button:hover {
  background: #f2f2f2;
}
